//  __/Milo's Niri Config\__
/// Based off of CachyOS's Niri Config, but tweaked a bit
/// Uses Noctalia V5 for the shell and 

include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
include "./cfg/gestures.kdl"
include "./noctalia.kdl"

include "~/.config/niri/noctalia.kdl"
